body {
  background-color: white;
}


.deu_site{
  color: black;
  text-align: center;
}
.site {
  position: static;
  color: gold;
  width: 200px;
  height: 50px;
  border-style: outset;
  padding: 10px;
  font-size: 0.8em;
  float: left;
}
.blank {
  position: static;
  color: gold;
  width: 200px;
  height: 50px;
  font-size: 0.8em;
  float: left;
}